pywin32
SpeechRecognition
openai-whisper
pywinauto
pyautogui
opencv-python
pyaudio
pyscreeze
pillow
sentence-transformers
git+https://github.com/openai/CLIP.git
ultralytics
easyocr
webrtcvad
customtkinter